.cursor {
    $text: #e0deff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $white-cl;
    position: absolute;
    // border: 1px solid #fff;
    top: 0;
    left: 0;
    z-index: 900;
    pointer-events: none;
    transition: 0.4s width, 0.4s height, 0.4s background;
    // mix-blend-mode: saturation;
    &.active {
        width: 160px;
        height: 160px;
        background: #fff;
        transition: 0.4s width, 0.4s height, 0.4s background;
        background-color: rgba($text, 0.2);
        border: 3px solid rgba($text, 0);
    }
    &.activee {
        width: 50px;
        height: 50px;
        background-color: rgba($text, 0.2);
        border: 3px solid rgba($text, 0);
        transition: 0.4s width, 0.4s height, 0.4s background;
    }
}
