.slider {
  min-width: auto;
  min-height: 100vh;
  display: flex;
  &-left {
    background-color: hsl(191, 62%, 55%);
    min-width: 25%;
    display: flex;
    height: 100vh;
    position: relative;
    &__icon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .list-icon i {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 0 8px 24px;
        font-size: 24px;
        color: white;
      }
      .by {
        position: absolute;
        left: 8px;
        bottom: 16px;
        writing-mode: vertical-lr;
        margin-bottom: 35px;
        color: white;
        font-size: 18px;
        font-family: Pr;
        transform: rotate(-180deg);
      }
    }
    &__text {
      color: white;
      font-family: Pb;
      position: absolute;
      right: 50%;
      top: 50%;
      z-index: 9;
      transform: translate(135%, -50%);
      span {
        line-height: 1;
        text-transform: uppercase;
        font-size: 58px;
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
      }
      span:nth-child(1) {
        font-size: 24px;
        font-family: Pr;
      }
    }
  }
  &-right {
    min-width: 75%;
    background-color: hsl(188, 67%, 73%);
  }
}

.about {
  width: 100%;
  height: 100vh;
  background: $white-cl;
  display: flex;
  justify-content: center;
  &__left {
    width: 65%;
    height: 100%;
    padding-right: 10px;
    &-title {
      @include text(56px, Pb, normal, $primary-cl, uppercase);
      letter-spacing: 8px;
      padding-bottom: 15px;
      position: relative;
      width: max-content;
      &::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(to right, $primary-cl, transparent);
        left: 0;
        bottom: 18px;
        height: 6px;
        width: 100%;
      }
    }
    &-text {
      h3 {
        @include text(28px, Pb, normal, $text-cl, normal);
        margin-bottom: 15px;
        text-align: justify;
      }
      p {
        @include text(20px, Pr, normal, $text-cl, normal);
        margin-bottom: 10px;
        text-align: justify;
      }
    }
    .btn-main {
      .center {
        width: 180px;
        height: 60px;
        position: absolute;
        border: 1px solid #91c9ff;
        @include midflex();
      }

      .btn {
        position: relative;
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        transition: 1s ease-in-out;
      }

      svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: $primary-cl;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
      }

      .btn:hover {
        transition: 1s ease-in-out;
        span {
          color: $primary-cl;
          font-family: Pb;
          letter-spacing: 2px;
          font-size: 16px;
        }
        &::before {
          opacity: 0;
        }
      }

      .btn:hover svg {
        stroke-dashoffset: -480;
      }

      .btn span {
        color: #4f95da;
        font-family: Pb;
        letter-spacing: 2px;
        font-size: 16px;
      }
    }
  }
  &__right {
    width: 35%;
    height: 100%;
    @include midflex();
    &-img {
      min-width: 250px;
      min-height: 250px;
      position: relative;
      object-fit: cover;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        display: block;
        max-width: 100%;
      }
    }
  }
}
